* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto',sans-serif;
}

h1 {
	margin-top: 52px;
}

.container {
	position: relative;
	width: 1140px;
	margin: 0 auto;

}

.promo {
	height: 800px;
	background: url('../img/bg/main_bg.jpg') center center/cover no-repeat ;
	padding: 39px 0 62px 0;
}

.logo .logo_img {
	display: block;
	margin:0 auto;
}

.logo .logo_text {
	color: #fff;
	font-family: roboto;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 14px;
} 
.title { 
	font-size: 41px;
	font-weight: 900;
    font-style: normal;
	color: rgb(249, 191, 59);
	text-transform: uppercase;
	line-height: 24px;
	text-align: center;
}

h2.title {
	margin-top: 30px;
}

.simple .title_big {
  font-size: 80px;
 font-weight: 900;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
	padding: 0 13px;
	margin-top: 23px;
  font-size: 21px;
	font-weight: 300;
   font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 28px;
  text-align: center;

}

.promo .promo_text span {
	color: #f9bf3b;
	 font-weight: bold;
    font-style: normal;
}

.promo .promo_btn, .record .record_btn {
	display: block;
	margin: 0 auto;
	margin-top: 73px;
	width: 313px;
	height: 72px;
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
	border: 4px solid rgba(0, 0, 0, 0.23);
	background-image: linear-gradient(to top,#2798b9 0%, #3ab6da 100%);

	font-size: 21px;
	font-weight: normal;
   font-style: normal;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.143;
	text-align: center;
	text-shadow: -0.1px -0.1px 0px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	outline: none;

}

.more {
	margin-top: 73px;
}

.more .more_text {
  font-size: 15px;
    font-weight: 300;
    font-style: normal;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  text-align: center;

}

.more .more_img {
	display: block;
	margin:0 auto;
	margin-top: 13px;
}

.waiting {
  background-color: rgb(239, 239, 239);
  min-height: 604px;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
  font-size: 30px;
 font-weight: normal;
  font-style: normal;
  color: rgb(37, 37, 37);
  text-transform: uppercase;
  text-align: center;

}

.finish .finish_header {
	color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
  background-color: rgb(249, 191, 59);
  width: 217px;
  height: 4px;
  margin:0 auto;
  margin-top: 18px;
}

.waiting .waiting_subheader {
  font-size: 23px;
  margin-top: 17px;
	font-weight: normal;
   font-style: normal;
  color: rgb(74, 74, 74);
  text-align: center;
  font-width: 400px;

}

.waiting .waiting_wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
	width: 339px;
	text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
	width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
	margin-top: 33px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  color: rgb(74, 74, 74);
  line-height: 21px;
  font-weight: 300;

}

.optimization {
	min-height: 550px;
	padding: 102px 0 107px 0;
}

.optimization .optimization_header{
	margin-left: 391px;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  color: rgb(41, 156, 189);
  text-transform: uppercase;

}

.optimization .optimization_text {
	margin-top: 25px;
	margin-left: 391px;
  font-size: 17px;
   font-style: normal;
  color: rgb(74, 74, 74);
  line-height: 27px;
	font-weight: 300;

}

.optimization .optimization_text span {
	font-weight: bold;
   font-style: normal;

}

.optimization .optimization_img {
  position: absolute;
  left: -240px;
  top: -54px;
  z-index: -1;
}

.finish {
	min-height: 447px;
	padding: 85px 0 79px 0;
	background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
	margin-top: 41px;
	display: flex;
	justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
	width: 244px;
}
.finish .finish_wrapper .finish_item .finish_round {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 115px;
	height: 115px;
  border-radius: 100%;
  background-color: rgb(180, 226, 255);

}

.finish .finish_wrapper .finish_item .finish_descr {
	margin-top: 25px;
	text-align: center;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  color: rgb(239, 239, 239);
  line-height: 20px;
}

.record ,.firstWeb , footer {
  background-color: rgb(239, 239, 239);
  min-height: 300px;
  padding: 82px 270px 63px 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.record .record_descr {
	margin: 30px auto 0 auto;
	min-height: 115px;
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  color: rgb(37, 37, 37);
  text-align: center;
}

.record .record_btn {
	margin-top: 0;
}

.firstWeb .firstWeb_wot {
	margin-top: 30px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  color: rgb(37, 37, 37);
  text-transform: uppercase;
  line-height: 0.4;
  text-align: center;

}

.firstWeb .firstWeb_time {
	margin-top: 36px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  color: rgb(41, 156, 189);
  text-transform: uppercase;
  line-height: 0.333;
  text-align: center;

}

.firstWeb .firstWeb_text {
	margin-top: 30px;
  font-size: 23px;
 	font-weight: normal;
  font-style: normal;
  color: rgb(74, 74, 74);
  line-height: 0.87;
  text-align: center;

}

footer {
  background-color: rgb(26, 26, 26);
  min-height: 166px;

}

footer .footer_link a ,footer .footer_tel ,footer .footer_link span {
  font-size: 15px;
	font-weight: normal;
   font-style: normal;
  color: rgb(136, 136, 136);
  line-height: 1.4;
  text-align: center;

}

footer .footer_link span {
	padding: 0 7px 0 3px;
}